html {
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;
}

.players-container .list-positions {
    display: grid;
    gap: 5px;
    grid-template-columns:repeat(4, 1fr);
    list-style: none;
    max-width: 500px;
    margin: auto;
    padding: 0;
}

.players-container .list-positions li a {
    font-size: 15px;
    background-color: #eee;
    text-align: center;
    padding: 10px;
    display: block;
}

.coaches-container .coaches,
.players-container .players {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.coaches-container .coaches li,
.players-container .players li {
    width: 24%;
    margin: 5px;
}


.coaches-container .coach-image img,
.players-container .player-image img {
    width: 100%;
}

.coaches-container .coach,
.players-container .player {
    position: relative;
}


.players-container .player-position {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
}

.coach-name a,
.player-name a {
    color: white !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(44, 44, 44, 0.59) 72%, rgba(73, 73, 73, 0) 100%);
}

.coaches-container .coach .coach-name a,
.players-container .player .player-name a {
    transition: padding .3s ease-out;
}

.coaches-container .coach:hover .coach-name a,
.players-container .player:hover .player-name a {
    padding-bottom: 1.8rem;
}

.players-container .title-position {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    padding-top: 40px;
    padding-bottom: 15px
}

@media (max-width: 1120px) {
    .coaches-container .coaches li,
    .players-container .players li {
        width: 32%;
        margin: 5px;
    }
}

@media (max-width: 850px) {
    .coaches-container .coaches li,
    .players-container .players li {
        width: 48%;
        margin: 5px;
    }
}

@media (max-width: 768px) {
    .players-container .list-positions {
        grid-template-columns:repeat(2, 1fr);
    }
}

@media (max-width: 598px) {
    .coaches-container .coaches li,
    .players-container .players li {
        width: 100%;
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .players-container .list-positions {
        grid-template-columns:1fr;
    }
}



